body{
	margin-top: 0;
	margin-right: 0;
	margin-left: 0;
	margin-bottom: 0;
}
ul{
	margin-top: 0;
	margin-bottom: 0;
	list-style-type: none;
	padding-left: 0;

}
.logo{
	margin-top: 30px;
	margin-left: 30px;
	width: 100px;

}
.navigation{
	margin-left: 30px;
	margin-top: 22.5px;
}
.navigation-a{
	padding-top: 7.5px;
	padding-bottom: 7.5px;
	display: inline-block;
	text-decoration: none;
	/*border: 5px solid red;*/
}
.banner-section{
	margin-top: 22.5px;
	margin-left: 30px;
}
.banner-img{
	width: 1170px;
}
.banner-section{
	width:270px;
} 
.logo{
	width:100px;
}
